# .NET Core
bin/
obj/
*.user
*.suo
*.dll
*.exe
*.pdb
*.cache
.vs/
.vscode/

# Node.js / React
node_modules/
npm-debug.log
yarn-error.log
build/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
coverage/
.DS_Store 